/* Controls  */

.boardcontainer {
  position: relative;
  display: flex;
  flex-direction: column;
  --gap: min(0.5rem, 2vw);

  gap: var(--gap);
}

button {
  height: 60px;
  border: none;
  border-radius: 0;
  font-size: 1.4rem;
}
button.start {
  display: block;
  padding: 0 1rem;
  margin: 0 auto;
}

.score {
  display: flex;
  gap: var(--gap);
  justify-content: center;
}

.guesscount,
.scorecount {
  border-radius: 1rem;
  padding: 0.1rem 0.5rem;
}

.guesscount {
  background: var(--gray);
}

.scorecount {
  background: var(--active);
}

.controls {
  padding: 0 0.5rem;
}

.controls .row {
  display: flex;
  gap: var(--gap);
  min-height: 60px;
}

.controls .row button {
  flex: 1;
}

.guessrow {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gap);
}

.controls .submit {
  flex: 2 0;
  font-size: 1.2rem;
  background-color: rgb(149, 203, 250);
}

.controls .submit.occured {
  background-color: var(--selected);
  cursor: no-drop;
}

.buttons {
  /* margin: 0 auto; */
}

.buttons button {
  flex: 1 0;
}

/* Game Board   */

.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: min(0.5rem, 2vw);
  padding: 0 0.5rem;
}

.row {
  display: flex;
  justify-content: center;
  gap: var(--gap);
}

.letter {
  position: relative;

  font-size: min(11vw, 45px);
  text-align: center;
  text-transform: capitalize;
  font-weight: 700;

  --background: var(--yellow);
  --border: var(--yellow);
  background-color: var(--background);
  border: 4px solid var(--border);

  display: grid;
  place-items: center;
  cursor: pointer;

  transition: border, background-color 0.1s linear;
}

.letter .square {
  content: "";
  display: block;
  padding-top: 100%;
}

.letter .content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  display: grid;
  place-items: center;
}

.last {
  --background: var(--selected);
  --border: black;
  /* border: 4px solid rgb(81, 245, 95); */
  transition: border 0.4s linear;
}

.selected {
  --border: var(--selected);
  --background: var(--selected);
}
