/* Controls  */

.boardcontainer {
  position: relative;
  padding: 0 0.5rem;

  display: flex;
  flex-direction: column;
  --gap: min(0.5rem, 2vw);
  gap: var(--gap);
}

button {
  height: 60px;
  border: none;
  border-radius: 0;
  font-size: 1.4rem;
}
button.start {
  display: block;
  padding: 0 1rem;
  margin: 0 auto;
}

.scorecontainer {
  display: flex;
  flex-flow: row wrap;
  font-size: min(1.5rem, 6vw);
}
.scorecontainer button {
  height: initial;
}

.count {
  flex-grow: 1;
  display: flex;
  gap: var(--gap);
  justify-content: center;
}

.guess {
  border-radius: 1rem;
  padding: 0.1rem 0.5rem;
  background: var(--blue);
}

.score {
  border-radius: 1rem;
  padding: 0.1rem 0.5rem;
  background: var(--active);
}
.exit {
  font-size: 0.75em;
  padding: 0 0.5rem;
}

.controls {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: var(--gap);
  min-height: 60px;
}

.controls .button {
  font-size: 1.2rem;
  height: min(70px, 18vw);
}
.controls .submit {
  grid-column: span 2;
  background-color: rgb(149, 203, 250);
}
.controls .submit.occured {
  background-color: var(--selected);
  cursor: no-drop;
}

.guessrow {
  min-height: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gap);
}

/* Game Board   */

.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: min(0.5rem, 2vw);
}

.row {
  display: flex;
  justify-content: center;
  gap: var(--gap);
}

.letter {
  position: relative;

  font-size: min(11vw, 45px);
  text-align: center;
  text-transform: capitalize;
  font-weight: 700;

  --background: var(--yellow);
  --border: var(--yellow);
  background-color: var(--background);
  border: 4px solid var(--border);

  display: grid;
  place-items: center;
  cursor: pointer;
  user-select: none;
  transition: border, background-color 0.1s linear;
}

.letter .square {
  content: "";
  display: block;
  padding-top: 100%;
}

.letter .content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  display: grid;
  place-items: center;
}

.last {
  --background: var(--selected);
  --border: black;
  transition: border 0.4s linear;
}

.selected {
  --border: var(--selected);
  --background: var(--selected);
}

/* xxx */

.invalid {
  text-decoration: line-through;
}
