body {
  margin: 0;

  --yellow: rgb(254, 242, 164);
  --active: rgb(35, 221, 51);
  --selected: rgb(130, 201, 136);
  --gray: rgb(233, 233, 237);
  --blue: rgb(172, 215, 245);

  --gap: min(0.5rem, 2vw);

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: normal;
  margin: 0;
}

header,
main {
  max-width: 400px;
  margin: 0 auto;
  padding: 0 0.5rem;
}

button {
  border: none;
  border-radius: 0;
  cursor: pointer;
}

li {
  list-style: none;
}

header .title {
  font-size: 2.2rem;
  font-weight: 500;
  letter-spacing: 2;
  padding: 0.2rem 1rem;
}

.ready .start {
  display: block;
  grid-column: span 2;
  font-size: 2rem;
  background-color: var(--gray);
}

/* Results */

.results {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.results .title {
  margin-bottom: 0.5rem;
}
.results .item {
  display: flex;
  gap: 0.5rem;
}
.results .word {
  font-size: 1.2rem;
}

.results .invalid .word {
  text-decoration: line-through;
}

.results .points {
  font-size: 1rem;
  margin-left: 1rem;
}

.results .restart {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.8rem 0;
  font-size: 1.2rem;
  gap: 0.5rem;
}
.results .restart button {
  padding: 0.2rem 0.5rem;
  font-size: 1.2rem;
}
