body {
  margin: 0;

  --yellow: rgb(254, 242, 164);
  --active: rgb(35, 221, 51);
  --selected: rgb(130, 201, 136);
  --gray: rgb(233, 233, 237);
  --blue: rgb(172, 215, 245);

  --gap: min(0.5rem, 2vw);

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header,
main {
  max-width: 400px;
  margin: 0 auto;
  padding: 0 0.5rem;
}

.title {
  font-size: 2.2rem;
  font-weight: 500;
  letter-spacing: 2;
  padding-left: 1rem;
}

button {
  border: none;
  border-radius: 0;
}

.ready .start {
  display: block;
  grid-column: span 2;
  font-size: 2rem;
  background-color: var(--gray);
}
